@font-face {
    font-family: 'komorebi-gothic';
    src: url('../fonts/komorebi-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'retoromin';
    src: url('../fonts/Bansyu-retoromin-R_ver.3.2.otf') format('opentype');
}

body {
    background-color: #E9DAC4;
    font-family: 'komorebi-gothic', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    /* letter-spacing: 0.1em; */
    color: #663b10;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

h1 {
    font-size: 50px;
    font-family: 'retoromin', sans-serif;
    margin-bottom: 50px;
}

#wrapper .btn-gnavi {
    top: 60px;
}

img {
    max-width: 30%;
    height: auto;
}

/* フェードイン */
.fade-in {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 2s, transform 2s;
}
.fade-in.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}